.CodeMirror{
  background-color: black;
  height: 40vh !important;
  color: white;
  
}
.CodeMirror-gutters{
  background-color: rgb(28, 28, 28) !important;
}
.CodeMirror-scroll{
  background-color: rgb(28, 28, 28) !important;
}


